.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 36.8rem;
  max-height: 51.2rem;
  text-align: center;
  background: linear-gradient(180deg, var(--ligth-slate-blue), var(--ligth-royal-blue));
  border-radius: 0 0 32px 32px;
  z-index: 1;
  box-shadow: 0 30px 60px 0 hsla(224, 82%, 58%, 0.15);
  color: var(--white-neutral);
  padding: 2.4rem 5.6rem 4rem;
}

.result-container h1 {
  margin-top: 2.4rem;
}

.result-container h2,
p {
  color: var(--light-lavender-neutral);
}

.result-container>p {
  margin-top: 0.8rem;
}

.result-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.4rem;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: linear-gradient(var(--violet-blue), var(--persion-blue));
}

.result-circle p:first-of-type {
  font-size: 5.6rem;
  font-weight: 800;
  color: var(--white-neutral);
}

.result-circle span {
  font-weight: 700;
  opacity: 0.5168;
}

@media screen and (min-width: 620px) {
  .result-container {
    border-radius: 3.2rem;
    padding: 3.8rem 5.6rem 5.5rem;
  }

  .result-container h1 {
    margin-top: 3.8rem;
  }

  .result-circle {
    margin-top: 3.2rem;
    width: 20rem;
    height: 20rem;
  }

  .result-circle p:first-of-type {
    font-size: 7.2rem;
  }

  .result-container>p {
    margin-top: 1.4rem;
  }
}